# Environment variables
.env

# Python virtual environment
venv/
/venv/

# Python cache files
__pycache__/
*.pyc

# IDE/Editor directories
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log